@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vanila CSS */


@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.saleText {
  animation: bounce 0.7s infinite;
  color: #ff4500;
  font-weight: bold;
}


